@import "bootstrap";

.main {
  width: 85%;
  margin: 0 auto;
}

.kim-badge {
  font-size: 10px;
}

.navbar {
  margin-bottom: 50px;
}

.login-btn {
  margin-right: 10px;
}

.navbar-brand {
  margin-left: 10px;
}

.log-in-btn {
  margin-top: 15px;
}

.control-buttons {
  margin-top: 15px;
}

.sort-btn {
  margin-left: 10px;
}

.right {
  float: right;
}

.form-group {
  margin-top: 20px;
}

.film-card {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.film-info {
  width: 55%;
}

.film-info-table {
  margin-top: 30px;
}

.film-comments {
  width: 85%;
  margin: 50px auto;
}

.comment {
  margin-top: 15px;
}

.send-comment-btn {
  margin-top: 15px;
}

.accordion-item {
  border: none;
}

.actions {
  margin-top: 5px;
}

.accordion-collapse {
  display: flex;
}

.rating-field {
  width: 250px;
}

.poster-img {
  max-width: 30%;
}
